@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #221518;
  --color-secondary: #F7E1BC;
  --color-accent: #54372B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dancing-script {
  font-family: var(--font-dancing-script), cursive;
}

.leiko {
  font-family: var(--font-leiko), serif;
}

.bg-primary{
  background-color: var(--color-primary);
}

.bg-secondary{
  background-color: var(--color-secondary);
}

.bg-accent{
  background-color: var(--color-accent);
}

.text-primary{
  color: var(--color-primary);
}

.text-secondary{
  color: var(--color-secondary);
}

.text-accent{
  color: var(--color-accent);
}

.custom-text {
  font-family: var(--font-dancing-script);
  font-weight: 700;

  background: linear-gradient(
    to right,
    #f8e4be 20%,
    #fff3e0 37%,
    #fff8e8 52%,
    #dfc39d 73%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  text-shadow:
    0 0 6px rgba(255, 235, 200, 0.6),
    0 0 12px rgba(223, 195, 157, 0.5),
    0 2px 2px rgba(0, 0, 0, 0.35);
}

